{% extends 'base.html.twig' %}

{% block title %}Table equipe{% endblock %}

{% block content %}
  <p><a href=''>Insérer une nouvelle équipe</a></p><br>
    <table id='table' class='table is-fullwidth'>
      <thead>
        <tr>
          <th>id_equipe</th>
          <th>nom_equipe</th>
          <th>nb_victoire</th>
          <th>nb_defaite</th>
          <th>nb_points</th>
        </tr>
      </thead>
      <tbody>
        {% for equipe in equipes %}
          <tr>
            <td>{{ equipe.getIdEquipe() }}</td>
            <td>{{ equipe.getNomEquipe() }}</td>
            <td>{{ equipe.getNbVictoire() }}</td>
            <td>{{ equipe.getNbDefaite() }}</td>
            <td>{{ equipe.getNbPoints() }}</td>
            <td><a href=''>Modifier</a></td>
            <td><a href=''>Supprimer</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
