{{ form_start(form) }}
    {{ form_widget(form) }}
{#
    {{ form_widget(form.date_match) }}
    {{ form_widget(form.elim_directe) }}
    {{ form_widget(form.type) }}
    {{ form_widget(form.score_equipe1) }}
    {{ form_widget(form.score_equipe2) }}
    {{ form_widget(form.id_equipe1) }}
    {{ form_widget(form.id_equipe2) }}#}
    <button class="button is-success">Valider</button>
{{ form_end(form) }}
