{% extends 'base.html.twig' %}

{% block title %}Matchs index{% endblock %}

{% block content %}
    {% if not app.user %}
        <h1 class="modal-card-title is-3">Connectez vous pour modifier la table</h1>
    {% endif %}
    <br>

    <table class="table is-bordered">
        <thead class="has-background-grey-light">
            <tr>
                {#
                <th>Id_match</th>#}
                <th>Date_match</th>
                <th>Elim_directe</th>
                <th>Type</th>
                <th>Score_equipe1</th>
                <th>Score_equipe2</th>
                <th>Id_equipe1</th>
                <th>Id_equipe2</th>
                {% if app.user %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                {#<td>{{ match.idMatch }}</td>#}
                <td>{{ match.dateMatch }}</td>
                <td>{{ match.elimDirecte }}</td>
                <td>{{ match.type }}</td>
                <td>{{ match.scoreEquipe1 }}</td>
                <td>{{ match.scoreEquipe2 }}</td>
                <td>{{ match.idEquipe1 }}</td>
                <td>{{ match.idEquipe2 }}</td>
                {% if app.user %}
                <td>
                    <a href="{{ path('matchs_edit', {'id_match': match.getIdMatch}) }}">Modifier ou Supprimer</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('matchs_new') }}">Create new</a>
{% endblock %}
