{% extends 'base.html.twig' %}

{% block title %}Table matchs{% endblock %}

{% block content %}
  <p><a href=''>Insérer un nouveau match</a></p><br>
    <table id='table' class='table is-fullwidth'>
      <thead>
        <tr>
          <th>id_matchs</th>
          <th>date_matchs</th>
          <th>elim_directe</th>
          <th>type</th>
          <th>score_equipe1</th>
          <th>score_equipe2</th>
          <th>id_equipe1</th>
          <th>id_equipe2</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matchs %}
          <tr>
            <td>{{ match.getIdMatch() }}</td>
            <td>{{ match.getDateMatch() }}</td>
            <td>{{ match.getElimDirecte() }}</td>
            <td>{{ match.getType() }}</td>
            <td>{{ match.getScoreEquipe1() }}</td>
            <td>{{ match.getScoreEquipe2() }}</td>
            <td>{{ match.getIdEquipe1() }}</td>
            <td>{{ match.getIdEquipe2() }}</td>
            <td><a href=''>Modifier</a></td>
            <td><a href=''>Supprimer</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
