{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}

{% block content %}
    <h1>Joueur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_joueur</th>
                <th>Prenom_joueur</th>
                <th>Nom_joueur</th>
                <th>Capitaine</th>
                <th>Id_equipe</th>
                <th>Poste_joueur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.idJoueur }}</td>
                <td>{{ joueur.prenomJoueur }}</td>
                <td>{{ joueur.nomJoueur }}</td>
                <td>{{ joueur.capitaine }}</td>
                <td>{{ joueur.idEquipe }}</td>
                <td>{{ joueur.posteJoueur }}</td>
                <td>
                    <a href="{{ path('joueur_edit', {'id_joueur': joueur.getIdJoueur}) }}">Modifier ou Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('joueur_new') }}">Create new</a>
{% endblock %}
