{% extends 'base.html.twig' %}

{% block title %}Table joueur{% endblock %}

{% block content %}
  <p><a href=''>Insérer un nouveau joueur</a></p><br>
    <table id='table' class='table is-fullwidth'>
      <thead>
        <tr>
          <th>id_joueur</th>
          <th>prenom_joueur</th>
          <th>nom_joueur</th>
          <th>capitaine</th>
          <th>id_equipe</th>
          <th>poste_joueur</th>
        </tr>
      </thead>
      <tbody>
         {% for player in players %}
           <tr>
              <td>{{ player.getIdJoueur() }}</td>
              <td>{{ player.getPrenomJoueur() }}</td>
              <td>{{ player.getNomJoueur() }}</td>
              <td>{{ player.getCapitaine }}</td>
              <td>{{ player.getIdEquipe() }}</td>
              <td>{{ player.getPosteJoueur() }}</td>
              <td><a href=''>Modifier</a></td>
              <td><a href=''>Supprimer</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
